.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #0d7575;
  padding: 10px 20px;

  &-navigation-btn {
    display: block;
    background-image: url('assets/images/menu.svg');
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}
