.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d7575;
  padding: 10px 20px;

  &-logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  &-navigation-btn {
    display: block;
    background-image: url('assets/images/menu.svg');
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .header-navigation-btn {
    display: none;
  }
}
