.inner-pages-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.init-error {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}
