.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px 0;
  background-color: #eee;

  &-inner-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (min-width: 481px) {
  .main {
    padding: 20px;
  }
}
