$menu-width: 240px;

.nav {
  position: absolute;
  background-color: #318686;
  height: 100%;
  width: $menu-width;
  z-index: 9;
  left: -$menu-width;
  transition: left 0.15s ease-in-out;

  &-active {
    left: 0;
    box-shadow: 2px 0 6px #000;
  }

  &-title {
    color: #fff;
    background-color: #185050;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: default;
  }

  &-link {
    color: #ccc;
    font-size: 24px;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    cursor: pointer;

    &-active {
      position: relative;
      color: #fff;
      background-color: #129494;
    }

    &:hover {
      color: #fff;
    }
  }

  &-logout {
    color: #ffa900;
    margin-top: 30px;
    padding: 5px 30px;

    &:hover {
      color: #ff7a00;
    }
  }
}
