.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg-color-main-dark);
  padding: 10px 20px;
}

.powered-by {
  &-text {
    color: var(--color-white);
    font-weight: bold;
    flex: 1;
    margin-right: 10px;
  }

  &-logo {
    background-image: url('assets/images/powered-by.svg');
    width: 130px;
    height: 50px;
    background-size: cover;
  }
}

@media (min-width: 481px) {
  .powered-by {
    &-logo {
      float: right;
    }
  }
}
