.auth {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-inner-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  &-available-users {
    color: var(--color-white);
    background-color: var(--bg-color-main);
    padding: 20px;

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    &-item {
      margin: 10px 0;
      font-weight: bold;
    }
  }
}
